@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');




body {



  margin: 0;
  font-family: "Lexend" ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:"Lexend", 'Courier New',
    monospace;
}
