@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: inherit;
}
.about-page-width{
    width: calc(100% - 15rem);
    padding: 30px 20px;
    margin: 0 auto;
}
.about-page-header h2{
    font-family: 'Manrope', sans-serif;
    font-size: 3rem;
    height: 5rem;
}
.about-page-header-container div{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 70vh;
}
.about-page-header-container img{
    width: 100%;
    height: 100%;
}
.about-article p{
    margin-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 2rem;
    font-family: Manrope;
}
.about-footer-section{
    display: flex;
    justify-content: space-between;
}
.about-list{
    width: 50%;
}
.about-image{
    width: 50%;
}
.about-image img{
    width: 100%;
}
.about-list p{
    font-size: 1.8rem;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 1rem;
}
.about-list li{
    margin-bottom: 1rem;
    font-family: 'Manrope', sans-serif;
    list-style: none;

}

.school-director{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 15rem;
}
.school-director p{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.school-director p img{
    width: 100%;
    height: 100%;
}




.head-of-schools{
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
}

.head-of-schools-container{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-of-schools p{
    width: 40%;
    height: 50%;
}
.head-of-schools p img{
    width: 100%;
    height: 100%;
}


.team-title{
    display: flex;
    flex-direction: column;
}
.team-title span{
    text-align: center;
}