@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: inherit;
}
.registration-banner{
    padding: 5rem 2rem;
    position: relative;
}
.summer-school-registration-entrance{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 78%;
}
.entrance-image{
    flex-basis: 45%;
}
.entrance-image img{
    max-width: 100%;
}
.entrance-text{
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-basis: 45%;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}
