@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.quote{
    background: rgba(0, 0, 0, 0.1);
    padding: 5rem;
    display: flex;justify-content: center;
    /*height: 50vh;*/
    font-family: 'Lato', sans-serif;
   
}
.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-container  h1{
    font-size: 35px;
    margin: 20px 0;
}

.quote-container p{
    text-align: center;
    margin: 15px 0px 0px 0px;
    font-family: 'Raleway', sans-serif;
    
}

.quote-container svg{
    margin: none;
    font-size: 35px;
    color: rgb(31,183,105);
   
}
.counter{
    width: 100%;
    padding: 5rem;
    display: flex;
    align-items: center;
}
.counter-container{
  display: flex  ;
    justify-content: space-between;
    width: 100%;
}
.counter-container li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.number{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(107, 91, 255);
    font-family: 'Manrope', sans-serif;
    margin: 10px 0;
}
.title{
    font-family: 'Raleway', sans-serif;
    font-size: 14.5px;
    text-align: center;
}
@media screen and (min-width :350px) and (max-width : 500px) {
    .quote{

        padding: 1rem;
        font-family: 'Lexend', sans-serif;

    }
    .quote-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .quote-container  h1{
        font-size: 25px;
        margin: 20px 0;
    }

    .quote-container p{
        text-align: center;
        margin: 15px 0px 0px 0px;
        font-family: 'Raleway', sans-serif;

    }

    .quote-container svg{
        margin: none;
        font-size: 25px;

    }
    .counter{
        padding: 2rem;

    }
    .counter-container{
        display: flex  ;
        justify-content: space-between;
        width: 100%;
    }
    .counter-container li{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .number{
        font-size: 20px;
        font-family: 'Lexend', sans-serif;
        margin: 10px 0;
    }
    .title{
        font-family: 'Lexend', sans-serif;
        font-size: 10px;
        text-align: center;
    }
}