@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: inherit;
}
.director-page-width{
    width: calc(100% - 10rem);
    padding: 30px 20px;
    margin: 0 auto;
}
.director-header{
    height: 70vh;
}
.director-header-container{
    height: 100%;
   width:  100%;
}
.director-header-container img{
    height: 100%;
    width: 100%;
}
.director-article{
    display: flex;
    height: 400px;
    justify-content: space-around;
   
    /*box-shadow: 1px 3px 1px rgba(215, 187, 255, 0.4);*/
}
.director-article-text{
    width: 60%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.director-article-text{

    line-height: 2rem;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
.director-image{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.director-image img{
    height: 90%;
    width: 100%;
    border-radius: 50%;
    object-fit: fill;
}

.director-article-footer p{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    line-height: 2rem;
    margin-bottom: 15px;
}

.director-article-footer p:nth-child(4){
    margin: 0;
}

.director-article-footer p:first-child{
    margin-top: 20px ;
}