@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body {
    font-family: inherit;
}
.faq-section{
    width: calc(100% - 5rem);
    margin: 50px auto;
    text-align: center;
   
}

.faq-section header{
    font-size: 27px;
    font-weight: bold;
    color: rgb(37, 129, 209);
    font-family: 'Poppins', sans-serif;
}

@keyframes slideIn {
    0%{
      transform: translateY(-20px);
      opacity: 0;
    }
  
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }


.item{
    border: 1.5px solid rgba(31,183,105,0.5);
    margin-bottom: 5px;
    cursor: pointer;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    margin: 20px 0;
    padding: 15px 20px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    animation: slideIn ease-in-out .3s;
    transition: ease-in-out .3s;
 

}
.question{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
    
   
    
}
.answer{
    display: none;
    font-size: 13.5px;
    transition: all 5s cubic-bezier(0,1,0,1);
    animation: slideIn ease-in-out .3s;
}
.answer-active{
    display: flex;
    transition: all 5s cubic-bezier(1,0,1,0);
    margin: 10px 0px 0px 0px;
}

.question span{
    color: rgb(31,183,105);
    font-size: 20px;
    font-weight: bold;
}