@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: inherit;
}
.index-virtual-tour-section{
    width: calc(100% - 5rem);
    margin: 20px auto;
}
.index-virtual-tour-container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
}

.index-virtual-tour-container a{
    text-decoration: none;
}

.index-virtual-tour-text{
    width: 50%;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.index-virtual-tour-text h1{
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 2.5em;
    line-height: 3rem;
    margin: 0px 0px 20px 0;

}
.index-virtual-tour-image{
    width: 50%;
    height: 100%;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}
.index-virtual-tour-image img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 7px;
}
@media screen and (min-width :350px) and (max-width : 500px) {
    .index-virtual-tour-section{
        width: calc(100% - 2.5rem);
    }
    .index-virtual-tour-text{
        width: 100%;
        height: 50%;
    }
    .index-virtual-tour-text h1{
        font-size: 15px;
        line-height: 40px;
    }
    .index-virtual-tour-image{
        width: 100%;
        height: 50%;
    }

}