@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.school-page-width{
    width: calc(100% - 12rem);
    padding: 30px 20px;
    margin: 0 auto;
}
.school-header{
    height: 90vh;
}
.school-header div{
    width: 100%;
    height: 100%;
}
.school-header div img{
    width: 100%;
    height: 100%;
}
.school-article div{
    margin-bottom: 2rem;
}
.school-article div p{
    font-size: 1.2rem;
}

.school-image div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.school-image-container p{
    width: 24%;
    height: 100%;
}
.school-image-container img{
    width: 100%;
    height: 400px;

}
.school-aside{
    display: flex;
    flex-direction: column;
}
.aside-head{
    font-weight: bold;
    font-size: 1.3rem;
}
.aside-text{
    font-size: .7rem;
    line-height: 1.5rem;
}



@media screen and (min-width:350px) and (max-width: 750px) {
    .school-page-width{
        width: calc(100% - .5rem);
        padding: 30px 10px;
    }
    .school-header{
        height: 25vh;
    }


    .school-article div{
        margin-bottom: 2rem;
    }
    .school-article div p{
        font-size: 14px;
        line-height: 20px;
    }


    .school-image-container p{
        width: 24%;
        height: 100%;
    }
    .school-image-container img{
        width: 100%;
        height: 200px;

    }
    .school-aside{
        display: flex;
        flex-direction: column;
    }
    .aside-head{
        font-weight: bold;
        font-size: 12px;
    }
    .aside-text{
        font-size:11px;
        line-height: 25px;
    }

}