@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: inherit;
}
.programs-main-container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 70vh;
}

.programs-container{
    width:100%;
    height: 100%;
}

.programs-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
}
.programs-header p{
    font-family: Manrope;
    font-size: 1.3em;
    letter-spacing: 1px;
}

.programs-header h1{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-size: 2em;
}

.programs{
    height: 25vh;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-around;
}

.different-school-programs{
    max-width: 50%;
    display: flex;
    height: 12rem;
    justify-content: center;
    align-items: center;
}
.different-school-programs-container{
    width: 75%;
    height: 100%;
    background: cornflowerblue;
    padding: 1em;
    border-radius: 8px;
}
.different-school-programs-container h2 {
    font-family: 'Manrope', sans-serif;
    letter-spacing: 1px;
    height: 3rem;
}
.different-school-programs-container p{
    letter-spacing: 1px;
    height: 3rem;
}