@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
    height: 100vh;
}
.slide-background{
    height: 100%;
}

.slide {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
}
.slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 50px ;
}

.slide-banner{
    padding: 20px;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px; 
    background-color: rgba(97, 24, 152, 0.5) ;
    width: 500px;

}

p{
    margin: 0px  0px 20px 0;
    width: 70%;
    color: #fff;
    
}


